xsd/xschule-nachweise.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsc="http://xschule.digital/def/xschule/0.4/xsd"
           xmlns:dinspec91379="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"
           xmlns:xbd="http://xbildung.de/def/xbildung/0.93/xsd"
           targetNamespace="http://xschule.digital/def/xschule/0.4/xsd"
           version="0.4"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XSchule</nameLang>
            <nameKurz>XSchule</nameKurz>
            <nameTechnisch>xschule</nameTechnisch>
            <kennung>urn:xoev-de:xschule-digital:def:standard:xschule</kennung>
            <beschreibung>XSchule</beschreibung>
         </standard>
         <versionStandard>
            <version>0.4</version>
            <versionXOEVProfil>2.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>2.4</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xschule-baukasten.xsd"/>
   <xs:import schemaLocation="http://xbildung.de/def/xbildung/0.93/xsd/xbildung-baukasten.xsd"
              namespace="http://xbildung.de/def/xbildung/0.93/xsd"/>
   <xs:import schemaLocation="http://xoev.de/DIN-SPEC-91379/2019-03/datatypes/din-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-spec-91379_2019-03"/>
   <xs:element name="schueler.wechsel.0001">
      <xs:annotation>
         <xs:documentation>Diese Nachricht dient der Anmeldung eines Schülers / einer Schülerin an einer anderen Schule. Dabei werden sowohl Daten der vorigen wie auch Daten der zukünftigen Schule sowie Informationen zum/zur Schüler:in und den Sorgeberechtigten übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="schueler" type="xsc:WechselnderSchueler">
                     <xs:annotation>
                        <xs:documentation>Der Schüler ist eine natürliche Person, welcher durch die Teilnahme an einem Bildungsangebot (Schule, Hochschule, Weiterbildungsstätte, Ausbildungsstätte, weitere) Wissen und Kompetenzen erworben hat, die man mit Bildungsnachweisen (z.B. Zeugnis) beurkunden oder bescheinigen kann.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aufnehmendeSchule" minOccurs="0" type="xsc:AufnehmendeSchule">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden Daten der aufnehmenden Schule übermittelt, sofern sie der besuchten Schule zum Zeitpunkt der Nachrichtenerstellung bekannt sind.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="besuchteSchule" minOccurs="0" type="xsc:BesuchteSchule">
                     <xs:annotation>
                        <xs:documentation>Hier kann die letzte besuchte Schule angegeben werden. Verfügt die besuchte Schule über mehrere Schulformen, Profile oder Bildungsgänge, werden hier nur die angegeben, die auf den wechselnden Schüler zutreffen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="zusaetzlicherAnhang"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xsc:NotenuebersichtUndZeugnis">
                     <xs:annotation>
                        <xs:documentation>Es können zusätzliche Anhänge angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="erziehungsberechtigter" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Es sind mehrere Erziehungsberechtigte möglich.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xsc:GesetzlicherVertreter">
                              <xs:sequence>
                                 <xs:element name="zukuenftigeAnschrift" minOccurs="0">
                                    <xs:annotation>
                                       <xs:documentation>Wenn der Erziehungsberechtigte kürzlich umgezogen (meist zugezogen) ist, kann es sein, dass die für den Schulbesuch in Zukunft relevante Adresse nicht aktuelle Adresse ist. Die zukünftig relevante Adresse wird hier angegeben. Die aktuelle Adresse wird hingegen im Feld "adresse" der Basisklasse GesetzlicherVertreter übertragen.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="anschrift" type="xbd:Anschrift">
                                             <xs:annotation>
                                                <xs:documentation>Mit diesem Element wird die weitere Anschrift übermittelt.</xs:documentation>
                                             </xs:annotation>
                                          </xs:element>
                                          <xs:element name="beschreibung"
                                                      minOccurs="0"
                                                      maxOccurs="unbounded"
                                                      type="xbd:String.Localized">
                                             <xs:annotation>
                                                <xs:documentation>Dieses Feld dient der textuellen Beschreibung der weiteren Anschrift und sollte genutzt werden, um die Natur der weiteren Anschrift zu beschreiben.</xs:documentation>
                                             </xs:annotation>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:extension>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="schullaufbahn" minOccurs="0" type="xsc:Schulaufnahme">
                     <xs:annotation>
                        <xs:documentation>Hier können Angaben über die Schullaufbahn gemacht werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="schulformspezifischeZusatzdaten"
                              minOccurs="0"
                              type="xsc:SchulformspezifischeZusatzdaten">
                     <xs:annotation>
                        <xs:documentation>Angaben zu schulformspezifischen Zusatzdaten.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aufnahme" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Bündelt Angaben zur Aufnahme des Schülers.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="datum" minOccurs="0" type="xs:date">
                              <xs:annotation>
                                 <xs:documentation>Gibt das (geplante) Aufnahmedatum an, sofern es der besuchten Schule zum Zeitpunkt der Nachrichtenerstellung bekannt ist.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="jahrgang" minOccurs="0" type="xsc:Code.Jahrgangsstufe">
                              <xs:annotation>
                                 <xs:documentation>Gibt den (geplanten) Jahrgang an, in den der Schüler nach dem Wechsel aufgenommen werden soll.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="versetzt" minOccurs="0" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Hier kann angegeben werden, ob der Schulwechsel mit einer Versetzung verbunden ist.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="versetzungsOderAusnahmetatbestandstyp"
                                       minOccurs="0"
                                       type="xsc:Code.VersetzungsOderAusnahmetatbestandstyp">
                              <xs:annotation>
                                 <xs:documentation>Hier werden Detailangaben zur Versetzung von einem Schuljahrgang in einen anderen oder zu Ausnahmetatbeständen im Fall keiner Versetzung gemacht.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="schueler.abiturzeugnis.0002">
      <xs:annotation>
         <xs:documentation>Diese Nachricht bildet das Abiturzeugnis ab. Dies enthält Informationen zur Art des Zeugnisses, der besuchten Schule, dem/der Schüler:in, der Art der Hochschulberechtigung sowie Informationen zu den einzelnen besuchten Kursen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="allgemeineAngaben">
                     <xs:annotation>
                        <xs:documentation>Mit den hier angegebenen allgemeinen Informationen soll der Bildungsabschluss kodiert werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="artDesZeugnisses" type="xsc:Code.Zeugnisart">
                              <xs:annotation>
                                 <xs:documentation>Die Art des Zeugnisses gibt an, um welche Zeugnisart es sich handelt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="jahrgangsstufe"
                                       minOccurs="0"
                                       maxOccurs="2"
                                       type="xsc:Code.Jahrgangsstufe">
                              <xs:annotation>
                                 <xs:documentation>Gibt die Jahrgangsstufe an, auf die sich das Zeugnis bezieht. Für ein Abiturzeugnis kann mehr als ein Halbjahr angegeben werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nachweisperiode"
                                       minOccurs="0"
                                       type="xsc:Code.Nachweisperiode">
                              <xs:annotation>
                                 <xs:documentation>Die Nachweisperiode beinhaltet Angaben zum konkreten Gültigkeitszeitraum für das jeweilige Zeugnis (meistens Halbjahr- bzw. "Volljahr"-Zeugnis).</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="bundesland" minOccurs="0" type="xsc:Code.Bundesland">
                              <xs:annotation>
                                 <xs:documentation>Hier können Angaben zum Bundesland als Ort der Austellung angegeben werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="niveau" minOccurs="0" type="xsc:Code.NQR-DQR">
                              <xs:annotation>
                                 <xs:documentation>Hier können Angaben zum Niveau des Bildungsnachweises gemacht werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="artDerHZB"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Gibt die Art der Hochschulzugangsberechtigung an.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="artDesSchulabschlusses"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:Code.ArtDesSchulabschlusses">
                              <xs:annotation>
                                 <xs:documentation>Angabe der Art des Schulabschlusses.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="schueler" type="xsc:NachweisinhabenderSchueler">
                     <xs:annotation>
                        <xs:documentation>Der Schüler ist eine natürliche Person, welche durch die Teilnahme an einem Bildungsangebot (Schule, Weiterbildungsstätte, Ausbildungsstätte, weitere) Wissen und Kompetenzen erworben hat.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="schule" type="xsc:Schule">
                     <xs:annotation>
                        <xs:documentation>Die Klasse Schule enthält allgemeine Angaben zur Bildungseinrichtung, die das Zeugnis ausgestellt hat.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="block-i">
                     <xs:annotation>
                        <xs:documentation>Der Block I beinhaltet die Ergebnisse in der Qualifikationsphase (Bezeichnung kann je nach Bundesland variieren). Dies beinhaltet insbesondere die Halbjahresergebnisse der belegten Fächer. Zusätzlich können weitere Leistungen angegeben werden. Auch wenn alle Meta-Daten zu einer Leistung (Halbjahr, Kursart, ...) in den Kurs-Elementen angegeben werden, soll die Reihenfolge der XML-Elemente der Regelung des Landes folgen.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="kurs" maxOccurs="unbounded" type="xsc:Schulkurs">
                              <xs:annotation>
                                 <xs:documentation>Fasst alle Angaben zu den belegten Schulkursen des Schülers zusammen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="weitereLeistung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xsc:Pruefungsergebnis">
                              <xs:annotation>
                                 <xs:documentation>Mit Hilfe der Klasse Prüfungsergebnis werden an dieser Stelle z.B. besondere Lernleistungen oder Facharbeiten angegeben, die Teil des Block I sind.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="block-ii">
                     <xs:annotation>
                        <xs:documentation>Der Block II beinhaltet die Ergebnisse der vier bis fünf Abiturprüfungen und weiterer besonderer Lernleistungen. Auch wenn alle Meta-Daten zu einer Leistung (Art der Prüfung, Kursart, ...) in den Prüfungsergebnis-Elementen angegeben werden, soll die Reihenfolge der XML-Elemente der Regelung des Landes folgen.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="pruefungsergebnis"
                                       maxOccurs="unbounded"
                                       type="xsc:Pruefungsergebnis">
                              <xs:annotation>
                                 <xs:documentation>Die abgelegten Abiturprüfungen und ggf. besonderen Lernleistungen werden jeweils mit der Klasse Prüfungsergebnis beschrieben.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="block-iii">
                     <xs:annotation>
                        <xs:documentation>Der Block III fasst die Berechnung der Gesamtqualifikation und der Durchschnittsnote zusammen.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="durchschnittsnote" type="xbd:Benotung">
                              <xs:annotation>
                                 <xs:documentation>Angaben zu der ermittelten Durchschnittsnote aus allen erbrachten Leistungen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="gesamtpunktzahl" minOccurs="0" type="xbd:Benotung">
                              <xs:annotation>
                                 <xs:documentation>Angaben zur erreichten Gesamtpunktzahl aus allen erbrachten Leistungen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="punktsummeBlockI" minOccurs="0" type="xbd:Benotung">
                              <xs:annotation>
                                 <xs:documentation>Angaben zur erreichten Punktzahl in Block I.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="punktsummeBlockII" minOccurs="0" type="xbd:Benotung">
                              <xs:annotation>
                                 <xs:documentation>Angaben zur erreichten Punktzahl in Block II.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="beschreibung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Bei Bedarf kann hier mehrsprachig beschrieben werden, wie die Durchschnittsnote und Punktzahl berechnet wird. Grundsätzlich sollte davon ausgegangen werden, dass sich dies aus den Angaben in Block I und II und den Vorgaben der KMK ableiten lässt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="fremdsprachen">
                     <xs:annotation>
                        <xs:documentation>Die Klasse Fremdsprache fasst die Angaben zu den Sprachen zusammen, in denen Kenntnisse erworben wurden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="fremdsprache"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xsc:Fremdsprache">
                              <xs:annotation>
                                 <xs:documentation>Die Klasse Fremdsprache fasst die Angaben zu den Sprachen, in denen Kenntnisse erworben wurden, zusammen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="weitereSprachkenntnisse"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xsc:Code.ArtWeitererSprachkenntnisse">
                              <xs:annotation>
                                 <xs:documentation>Hier kann der Erwerb zusätzlicher Nachweise über Sprachkenntnisse angegeben werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="bemerkung"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xsc:Bemerkung">
                     <xs:annotation>
                        <xs:documentation>Als Bemerkung kann eine Vielzahl von weiteren strukturierten und unstrukturierte Informationen erfasst werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="schueler.zeugnis.0003">
      <xs:annotation>
         <xs:documentation>Diese Nachricht bildet ein "generisches" Zeugnis ab. Es wird davon ausgegangen, dass alle Angaben, die auf einem Realschulabschluss-Zeugnis gemacht werden müssen, mit diesem generischen Zeugnis abgedeckt werden. Die Nachricht enthält Informationen zur Art des Zeugnisses, der besuchten Schule, dem/der Schüler:in, der Art des Abschlusses sowie Informationen zu den einzelnen besuchten Kursen und weiteren erbrachten Leistungen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="allgemeineAngaben">
                     <xs:annotation>
                        <xs:documentation>Die allgemeinen Angaben beschreiben das Zeugnis und den fachlichen Kontext.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="artDesZeugnisses" type="xsc:Code.Zeugnisart">
                              <xs:annotation>
                                 <xs:documentation>Die Art des Zeugnisses gibt an, um welche Zeugnisart es sich handelt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="jahrgangsstufe"
                                       minOccurs="0"
                                       maxOccurs="2"
                                       type="xsc:Code.Jahrgangsstufe">
                              <xs:annotation>
                                 <xs:documentation>Gibt die Jahrgangsstufe an, auf die sich das Zeugnis bezieht. Für ein Abiturzeugnis kann mehr als ein Halbjahr angegeben werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nachweisperiode"
                                       minOccurs="0"
                                       type="xsc:Code.Nachweisperiode">
                              <xs:annotation>
                                 <xs:documentation>Die Nachweisperiode beinhaltet Angaben zum konkreten Gültigkeitszeitraum für das jeweilige Zeugnis (meistens Halbjahr- bzw. "Volljahr"-Zeugnis).</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="bundesland" minOccurs="0" type="xsc:Code.Bundesland">
                              <xs:annotation>
                                 <xs:documentation>Hier können Angaben zum Bundesland als Ort der Austellung angegeben werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="niveau" minOccurs="0" type="xsc:Code.NQR-DQR">
                              <xs:annotation>
                                 <xs:documentation>Hier können Angaben zum Niveau des Bildungsnachweises gemacht werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="artDerHZB"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Gibt die Art der Hochschulzugangsberechtigung an.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="artDesSchulabschlusses"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:Code.ArtDesSchulabschlusses">
                              <xs:annotation>
                                 <xs:documentation>Angabe der Art des Schulabschlusses.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="schueler" type="xsc:NachweisinhabenderSchueler">
                     <xs:annotation>
                        <xs:documentation>Der Schüler ist eine natürliche Person, welcher durch die Teilnahme an einem Bildungsangebot (Schule, Hochschule, Weiterbildungsstätte, Ausbildungsstätte, weitere) Wissen und Kompetenzen erworben hat, die man mit Bildungsnachweisen (z.B. Zeugnis) beurkunden oder bescheinigen kann.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="schule" type="xsc:Schule">
                     <xs:annotation>
                        <xs:documentation>Die Klasse Schule enthält allgemeine Angaben zur Schule.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="leistungen" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Kurse und Prüfungen, die dieses Zeugnis dokumentiert, werden in Blöcken zusammengefasst. Es wird empfohlen, Leistungen nicht ohne fachlichen Grund auf mehrere Blöcke aufzuteilen. Die Möglichkeit Blöcke zu bilden und diese zu beschreiben, darf nicht dazu führen, dass auf die Befüllung der Meta-Daten einer Leistung (Art der Prüfung, Kursart, ...) verzichtet wird. Zudem soll die Reihenfolge der XML-Elemente den üblichen Regelungen folgen.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="kurs"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xsc:Schulkurs">
                              <xs:annotation>
                                 <xs:documentation>Fasst alle Angaben zu den belegten Schulkursen des Schülers zusammen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="pruefung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xsc:Pruefungsergebnis">
                              <xs:annotation>
                                 <xs:documentation>Mit Hilfe der Klasse Prüfungsergebnis werden an dieser Stelle z.B. besondere Lernleistungen, Facharbeiten oder gesondert bewertete mündliche und schriftliche Prüfungen angegeben.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="bezeichnung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Bei Bedarf kann hier die Bezeichnung dieses Blocks mehrsprachig angegeben werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="beschreibung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Bei Bedarf kann hier die Beschreibung dieses Blocks mehrsprachig angegeben werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="kombinierteBewertung" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Die kombinierte Bewertung erlaubt eine flexible Erstellung verschiedener „Gesamtnoten“.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="note"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:Benotung">
                              <xs:annotation>
                                 <xs:documentation>Mit Hilfe der Klasse Prüfungsergebnis werden an dieser Stelle z.B. besondere Lernleistungen, Facharbeiten oder gesondert bewertete mündliche und schriftliche Prüfungen angegeben.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="kursdifferenzierung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xsc:Code.Kursdifferenzierung">
                              <xs:annotation>
                                 <xs:documentation>Bezieht sich diese kombinierte Bewertung auf bestimmte Kursdifferenzierungen, kann dies hier angegeben werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="kursbereich"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xsc:Code.Kursbereich">
                              <xs:annotation>
                                 <xs:documentation>Bezieht sich diese kombinierte Bewertung auf bestimmte Kursbereiche, kann dies hier angegeben werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="bezeichnung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Bei Bedarf kann hier die Bezeichnung dieser kombinierten Bewertung mehrsprachig angegeben werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="beschreibung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Bei Bedarf kann hier mehrsprachig beschrieben werden, wie die kombinierte Bewertung berechnet wird. Um die einbezogenen Kurse zu kennzeichnen, sind auch die Eigenschaften kursart und berechnungsgrundlage zu nutzen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="fremdsprachen" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Die Klasse Fremdsprache fasst die Angaben zu den Sprachen zusammen, in denen Kenntnisse erworben wurden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="fremdsprache"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xsc:Fremdsprache">
                              <xs:annotation>
                                 <xs:documentation>Die Klasse Fremdsprache fasst die Angaben zu den Sprachen, in denen Kenntnisse erworben wurden, zusammen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="weitereSprachkenntnisse"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xsc:Code.ArtWeitererSprachkenntnisse">
                              <xs:annotation>
                                 <xs:documentation>Hier kann der Erwerb zusätzlicher Nachweise über Sprachkenntnisse angegeben werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="bemerkung"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xsc:Bemerkung">
                     <xs:annotation>
                        <xs:documentation>Als Bemerkung kann eine Vielzahl von weiteren strukturierten und unstrukturierte Informationen erfasst werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
